html{
  width: 100%;
  height: 100%;
}

#sign-body {
  background: url('../assets/login-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #00B7FF;
}

a {
  color: #00B7FF;
}

#slogan{
  text-transform: uppercase;
  color: rgb(245 251 248);
  font-family: Tilt Neon;
  font-size: 50px;
  text-align: center;
  text-shadow:
    0px 3px 3px rgba(0, 225, 255, 0.8),
    1px -2px 10px rgba(0, 225, 255, 0.5),
    2px 2px 5px rgba(255, 0, 21, 0.3);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}


/* Common styles for buttons */
.button-common {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease all;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Individual button positioning */
#sign-button {
  bottom: 20%;
}

.buy-ticket-button {
  bottom: 10%;
}

/* Hover state for buttons */
.button-common:hover {
  color: #fff;
  background-color: #1b1b1b;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .button-common {
    padding: 10px 20px;
    font-size: 14px;
  }

  #sign-button {
    bottom: 25%;
  }

  .buy-ticket-button {
    bottom: 15%;
  }
}

/* Mint NFT Ticket */
#mintnft-body {
  font:18px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100%; */
  min-height: max-content;
}

.left-panel{
  width: 30%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}

.title-box{
  color: #030340;
  margin: auto;
  width: 20%;
  text-align: center;
  position: fixed;
  top: 20px;
  left: 5%;
}
.title-box label{
  font-size: 32px;
}
.main-panel{
  display: block;
  margin: auto;
  color: white;
  background-color: #030340;
  width: 70%;
  height: 100%;
  min-height: max-content;
  padding-right: 3%;
  padding-left: 3%;
}

.sub-panel{
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

#event{
  display: flex;
  margin-top: 36px;
  gap: 20px;
}

#event-title{
  flex-grow: 2;
  padding-right: 5px;
}

#event-title input{
  width: 100%;
  /* height: 25px; */
  box-sizing: border-box;
  border-radius: 15px;
  border: none;
  padding: 10px;
}

#event-no{
  flex: 50px;
}

#event-no input{
  width: 100%;
  /* height: 25px; */
  box-sizing: border-box;
  border-radius: 15px;
  border: none;
  padding: 10px;
}

.form-item{
  margin-top: 15px;
}
.nftform input, .nftform textarea {
  font-size: 18px;
}
.input-area{
  width: 100%;
  /* height: 25px; */
  border-radius: 15px;
  border: none;
  padding: 10px;
}

.property{
  display: flex;
}

.property-title{
  box-sizing: border-box;
  flex: 60px;
  margin-top: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

.property-name{
  box-sizing: border-box;
  flex: 60px;
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

.property-value{
  box-sizing: border-box;
  flex: 60px;
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

.property-button{
  box-sizing: border-box;
  flex: 30px;
  border-radius: 15px;
  background-color: #87CEFA;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  /* height: 25px; */
  padding: 10px;
  font-size: 18px;
}

.property-button:hover{
  color: #030340;
  background-color: white;
}

.addBtn{
  width: 33%;
}

.nonvisible{
  visibility: hidden;
}

.outputMsg{
  background-color: lightsteelblue;
  padding: 10px;
}

.mintBtnDiv{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.mint-button{
  border-radius: 15px;
  background-color: white;
  width: 33%;
  /* height: 30px; */
  padding: 10px;
  font-size: 18px;
}

.mint-button:hover{
  color: #030340;
  background-color: #87CEFA;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.spinner{
  display: none;
  width: 50px;
  height: 50px;
  border: 5px solid lightgrey;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.popup-wrapper{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.popup{
  text-align: center;
  background-color: white;
  color: #030340;
  width: 50%;
  height: 50%;
  margin: auto;
  position: relative;
  top: 20%;
}

.popup-text{
  padding-top: 50px;
}

.popup img{
  width: 300px;
}

.popup-bar-upper{
  background-color: #030340;
  color: white;
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
}

.popup-bar-lower{
  background-color: #030340;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.popup-btn{
  background-color: #87CEFA;
  border-radius: 15px;
  height: 30px;
  width: 100px;
}

.popup-btn:hover{
  background-color: white;
}