html{
  width: 100%;
  height: 100%;
}

#sign-body {
  background: url('../assets/login-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #00B7FF;
}

a {
  color: #00B7FF;
}

#logo{
  display: block;
  margin: 0 auto;
  margin-top: 25%;
  width: 100px; 
  height: 100px; 
  background-image: url('../assets/PhygitalifyQR\ icon.png'); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#sign-button{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #000; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#sign-button:hover {
  background-color: #333; /* Adjust hover state as needed */
}

/* Mint NFT Ticket */
#mintnft-body {
  font:18px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #030340;
  width: 400px;
  display: block;
  margin: auto;
}

#event{
  display: flex;
}

#event-title{
  flex-grow: 2;
  padding-right: 5px;
}

#event-title input{
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
}

#event-no{
  flex: 50px;
}

#event-no input{
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
}

.input-area{
  width: 100%;
  border-radius: 10px;
  border: none;
}

.property{
  display: flex;
}

.property-name{
  box-sizing: border-box;
  flex: 60px;
}

.property-value{
  box-sizing: border-box;
  flex: 60px;
}

.property-button{
  box-sizing: border-box;
  flex: 30px;
  border-radius: 10px;
  background-color: #87CEFA;
  margin-bottom: 5px;
}

.nonvisible{
  visibility: hidden;
}

.outputMsg{
  background-color: lightsteelblue;
}

.mint-button{
  margin-right: auto;
  border-radius: 10px;
  background-color: white;
  width: 120px;
}