body {
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #030340;
    background-color: #f1f1f1;
    margin: 10px;
  }
  .nft-header{
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
    background-color: #030340;
    padding: 0px 30px;
  }

  ul {
    list-style-type: none;
    padding: 0px 40px;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin: 20px;
  }

  img {
    max-width: 200px;
    max-height: 200px;
  }

  /* Popup styles */
  .popup, .qr-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #030340;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    color:#f1f1f1;
  }

  .popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .popup-content {
    position: relative;
  }

  .popup-open {
    overflow: hidden;
  }

  button {
    background-color: #34a343;
    padding: 3px 12px;
    border: none;
    border-radius: 6%;
    color: white;
  }

  .closeButton {
    background-color: #db0d29;
    position: absolute;
    bottom: 20px;
    right: 10px;
  }

  .acceptButton {
    background-color: #345d9e;
  }

  .tabcontent {
    display: none;
  }
  .tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    position: relative;
  }

  .tablinks {
    padding: 10px;
    cursor: pointer;
    position: relative;
    text-align: center;
  }

  .tablinks.active {
    background-color: #f1f1f1; 
    color: #030340; 
  }

  .clickable {
    transition: transform 0.2s ease-in-out;
  }

  .clickable:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .filter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .custom-select-wrapper {
    position: relative;
    width: fit-content;
  }

  .custom-select-wrapper select {
    box-shadow: none;
    padding: 6px 40px;
    margin: 10px 0px;
    color: #030340;
    background-color: #f1f1f1;
    border: 2px solid #030340;
    border-radius: 20px;
    font-size: 1em;
    transition: all 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
  }

  .custom-select-wrapper::after {
    content: '\f0d7';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #030340;
  }

  .custom-select-wrapper select:hover {
    background-color: #e0e0e0;
    border-color: #34a343;
  }

  .custom-select-wrapper select:focus {
    outline: none;
    border-color: #345d9e;
  }

  /* Style for the dropdown arrow */
  .custom-select-wrapper select::-ms-expand {
    display: none;
  }


  /*create offer popup*/
  #create-offer-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #create-offer-popup {
    background: #030340;
    top: 45%;
    padding: 20px;
    width: 80%;
    margin: 0 10%;
    border-radius: 8px;
    text-align: center;
    position: relative;
    color: #fff;
  }

  #loading-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #333;
  }
