<footer>
    <div class="footer-content">
        <p>&copy; 2024 Event Tickets Center. All rights reserved.</p>
        <div class="social-icons">
            <a href="https://facebook.com" target="_blank" class="social-icon facebook" aria-label="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://instagram.com" target="_blank" class="social-icon instagram" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com" target="_blank" class="social-icon twitter" aria-label="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>
