<header>
    <div class="header-content">
        <a href="mockNftShopHome.html">
            <img src="../img/PhygitalifyQR icon.png" alt="アイコン" class="top-icon"/>
        </a>
        <div class="PhygitalifhQR">PhygitalifhQR</div>
        <div class="search-wrapper">
            <input type="text" class="search-bar" placeholder="Search event(Dummy function)">
            <a class="search-button" aria-label="検索">🔍</a>
        </div>
        <div class="account-name">You: rw12FhB9VAmgjd2edvev5mcGiXNZEcNFVE</div> <!--仮のもの-->
        <a href="mockNftView.html" class="button">My tickets</a>
    </div>
</header>
