<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>view(mock)</title>
		<link rel="icon" href="../img/favicon.ico">
		<link rel="stylesheet" href="../css/NftShop.css">
	</head>
	<body>
		<div id="header"></div> <!-- ヘッダーをここに挿入 -->

		<h1>comming soon</h1>


		<div id="footer"></div> <!-- フッターをここに挿入 -->

    <script>
        // ヘッダーを読み込む
        fetch('common/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header').innerHTML = data;
            });

        // フッターを読み込む
        fetch('common/footer.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer').innerHTML = data;
            });
    </script>
	</body>
</html>
