<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home(mock)</title>
    <link rel="icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/NftShop.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id="header"></div> <!-- ヘッダーをここに挿入 -->
    
    <div class="header-image">
        <img src="../img/viewer-app3.png" alt="ヘッダー画像">
        <div class="header-overlay">
            <p>Find tickets to any event</p>
        </div>
    </div>

	<div class="header-text">
        <p>Featured Event Tickets</p>
    </div>

    <section class="event-grid">
        <div class="event-item">
            <img src="../img/viewer-app4.png" alt="画像1">
            <div class="event-caption">
                <p>Kabuki Musical: Kanjincho</p>
                <button class="event-button" data-href="mockNftShop.html">See more</button>
            </div>
        </div>
        <div class="event-item">
            <img src="../img/viewer-app8.png" alt="画像2">
            <div class="event-caption">
                <p>JLeague Match:Ueno Pandas vs. Akihabara Electrics</p>
                <button class="event-button" data-href="mockNftShop.html">See more</button>
            </div>
        </div>
        <div class="event-item">
            <img src="../img/viewer-app6.png" alt="画像3">
            <div class="event-caption">
                <p>Summer Music Festival 2024</p>
                <button class="event-button" data-href="mockNftShop.html">See more</button>
            </div>
        </div>
        <div class="event-item">
            <img src="../img/viewer-app10.png" alt="画像4">
            <div class="event-caption">
                <p>Feature Art Party</p>
                <button class="event-button" data-href="mockNftShop.html">See more</button>
            </div>
        </div>
        <!-- 必要に応じて追加のイベントアイテムをここに追加 -->
    </section>

    <div id="footer"></div> <!-- フッターをここに挿入 -->

    <script>
        // ヘッダーを読み込む
        fetch('common/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header').innerHTML = data;
            });

        // フッターを読み込む
        fetch('common/footer.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer').innerHTML = data;
            });

		// ボタンクリックで画面遷移
		document.querySelectorAll('.event-button').forEach(button => {
        button.addEventListener('click', function() {
            window.location.href = this.getAttribute('data-href');
        });
    });
    </script>
</body>
</html>
