<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="view-port" content="width=device-width,initial-scale=1.0">
        <title>Mint NFT Ticket</title>
        <link rel='stylesheet' href='stylesheets/style.css' />
        <link rel="icon" type="image/x-icon" href="../assets/PhygitalifyQR icon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="/javascripts/scripts_mintNft.js"></script>
        
    </head>

    <body id="mintnft-body">
        <div class="left-panel">
            <div class="title-box">
                <hr/>
                <label>Mint NFT Ticket</label>
            </div>
        </div>
        <div class="main-panel">
            <div class="sub-panel">
                <h3>TICKET SETTINGS</h3>
                Address: <label><%= walletAddress %></label>
                <form class="nftform" id="nftform">
                    
                    <div id="event">
                        <div id="event-title">
                            <label>Event title *</label><br/>
                            <input name="eventTitle" placeholder="Amazing Music Festival" required/>
                        </div>
                        <div id="event-no">
                            <label>Event No. *</label><br/>
                            <input name="eventNo" placeholder="1" required/>
                        </div>
                    </div>
                    

                    <div class="form-item">
                        <label>QR code text *</label><br/>
                        <input name="qrText" placeholder="Enter QR code: #1111" class="input-area" required/>
                    </div>
                    <div class="form-item">
                        <label>Image prompt *</label><br/>
                        <input name="imgPrompt" placeholder="A colorful bird on the branch og a cherry blossom tree" class="input-area" required/>
                    </div>
                    <div class="form-item">
                        <input type="checkbox" name="genType" value="1"><label>Generate readable QR code</label>
                    </div>
                    <div class="form-item">
                        <label>Description *</label><br />
                        <textarea name="description" placeholder="Spring Awake! Amazing Music Festival brings the heat this season." class="input-area" rows="4" required></textarea>
                    </div>
                    
                    <hr>
                    <h4>NFT SETTINGS</h4>
                    <div>
                        <label>Royalties(%)</label><br/>
                        <input type="number" name="royalty" placeholder="0%" class="input-area"/>
                    </div>
                    <div id="properties-container">
                        <div class="property">
                            <div class="property-title">
                                <label>Property name</label><br/>
                                
                            </div>
                            <div class="property-title">
                                <label>Property value</label><br/>
                            </div>
                            <div class="property-button nonvisible"></div>
                        </div>
                        <div class="property">
                            <input type="text" name="propertyName" class="property-name input-area"/>
                            <input type="text" name="propertyValue" class="property-value input-area"/>
                            <button type="button" id="property-button" class="property-button nonvisible">Remove</button>
                        </div>
                    </div>
                    <button type="button" id="add-property-button" class="property-button addBtn">Add Property</button>
                    
                    
                    <br/>
                    <br/>
                    <label>Message</label><br/>
                    <textarea disabled id="outputMsg" name="outputMsg" class="input-area outputMsg" rows="8"><%= outputMsg %></textarea><br/>
                    <div class="mintBtnDiv">
                        <button type="submit" onClick="onClick(event)" id="mint-button" class="mint-button">Mint Ticket</button>
                    </div>

                    <div class="popup-wrapper" id="popup-wrapper">
                        <div class="popup" id="popup">
                            <div class="popup-bar-upper">
                                <h4>Preview QR code</h4>
                            </div>
                            <p class="popup-text">The AI QR image has been generated.</p>
                            <img id="qrImage" class="qrImage"/>
                            <div class="popup-btnarea">
                                <button type="button" onclick="onClickPopupOK(event)" id="popup-okBtn" class="popup-okBtn popup-btn">OK</button>
                                <button type="button" onclick="onClickPopupCancel(event)" id="popup-cancelBtn" class="popup-cancelBtn popup-btn">Cancel</button>
                            </div>
                            <div class="popup-bar-lower"></div>
                        </div>
                    </div>
                    
                </form>

                <div id="overlay" class="overlay"></div>
                <div id="spinner" class="spinner"></div>
            </div>
            
        </div>
    </body>
</html>