<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NFT List</title>
  <style>
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }
    li {
      margin: 20px;
    }
    img {
      max-width: 200px;
    }
  </style>
</head>
<body>
  <h1>NFT Tickets</h1>
  
  <ul>
    <% nfts.forEach(nft => { %>
        <% if (nft.imageUrl) { %>
      <li>
          <img src="<%= nft.imageUrl %>" alt="NFT Image" >
          <br>
          <strong>Name:</strong> <%= nft.name %><br>
      </li>
        <% } %>
    <% }); %>
  </ul>

</body>
</html>
