<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Get Credit Tokens</title>
        <link rel="icon" type="image/x-icon" href="../assets/PhygitalifyQR icon.png">
        <link rel='stylesheet' href='stylesheets/style.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="/javascripts/scripts_token.js"></script>
    </head>
    <body>
        <div class="logoWithHeader tokenHeader">
            <div class="tokenSiteTitle">
                <img src="../assets/PhygitalifyQR icon.png" alt="logo" class="logo">
                <div><label class="site-name" style="vertical-align: middle; height: 100%;">PhygitalifyQR</label></div>
            </div>
            <div class="userAddress">
                You: <label><%= walletAddress %></label>
            </div>
        </div>
        <h1 style="text-align: center;">Get Credit Tokens</h1>
        <div class="tokenContent">
            <div class="PQRFaucetArea">
                <div class="faucetHeader">
                    <img src="../assets/pqr-icon.png" alt="icon" class="logo">
                    <label class="faucetTitle">PQR Token Faucet</label>
                    
                </div>
                <p>Dripping 10 PQR per day.</p>
                <div class="resultMsg" id="resultMsg">
                    <label></label>
                </div>
                <div>
                    <button id="setTrustlineBtn" class="tokenBtn trustLineBtn"  <% if (trustline) { %> disabled <% } %> >Set Trustline</button><br/>
                    <button id="claimTokensBtn" class="tokenBtn claimBtn">Claim tokens</button>
                    <p>You'll receive up to 10 PQR daily but the total number of boosts available will never exceed 10. For instance, if a you have 7 boosts, you'll only receive 3 more boosts. If you run out of PQR, you have the option to get additional PQR tokens from XRP.</p>
                </div>
            </div>
            <div class="exchangeArea">
                <h3>Exchange PQR for XRP</h3>
                <img src="../assets/pqr-icon.png" alt="icon" class="logo">
                <img src="../assets/arrows.png" alt="icon" class="logo">
                <img src="../assets/xrp-icon.png" alt="icon" class="logo">

                <p>Coming Soon</p>
            </div>
        </div>
    </body>
</html>